<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>controller.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSaleServlet</servlet-name>
        <servlet-class>controller.LoginSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyConnection</servlet-name>
        <servlet-class>mylib.MyConnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesPerson</servlet-name>
        <servlet-class>Dao.SalesPerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesPersonDAO</servlet-name>
        <servlet-class>Dao.SalesPersonDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDao</servlet-name>
        <servlet-class>Dao.CustomerDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCutomerServlet</servlet-name>
        <servlet-class>controller.SearchCutomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarsDao</servlet-name>
        <servlet-class>Dao.SearchCarsDao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCarServlet</servlet-name>
        <servlet-class>controller.SearchCarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDAO</servlet-name>
        <servlet-class>Dao.CustomerDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCustServlet</servlet-name>
        <servlet-class>controller.LoginCustServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Customer</servlet-name>
        <servlet-class>model.Customer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInvoices</servlet-name>
        <servlet-class>Dao.SearchInvoiceDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesInvoice</servlet-name>
        <servlet-class>model.SalesInvoice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInvoiceServlet</servlet-name>
        <servlet-class>controller.SearchInvoiceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCustServlet</servlet-name>
        <servlet-class>controller.UpdateCustServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MyConnection</servlet-name>
        <url-pattern>/MyConnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesPerson</servlet-name>
        <url-pattern>/SalesPerson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesPersonDAO</servlet-name>
        <url-pattern>/SalesPersonDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDao</servlet-name>
        <url-pattern>/CustomerDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCutomerServlet</servlet-name>
        <url-pattern>/SearchCutomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSaleServlet</servlet-name>
        <url-pattern>/LoginSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarsDao</servlet-name>
        <url-pattern>/SearchCarsDao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCarServlet</servlet-name>
        <url-pattern>/SearchCarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDAO</servlet-name>
        <url-pattern>/CustomerDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCustServlet</servlet-name>
        <url-pattern>/LoginCustServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Customer</servlet-name>
        <url-pattern>/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInvoices</servlet-name>
        <url-pattern>/ViewInvoices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesInvoice</servlet-name>
        <url-pattern>/SalesInvoice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInvoiceServlet</servlet-name>
        <url-pattern>/SearchInvoiceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCustServlet</servlet-name>
        <url-pattern>/UpdateCustServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainServlet</welcome-file>
    </welcome-file-list>
</web-app>
